.contenedor{
    background-color: bisque;
    height: 500px;
    
    display: flex;
    border: 10px solid rgb(41, 19, 63);
    
}
.contenedor > div{
    height: 100px;
    width: 400px;
}

.elemento1{
    background-color: rgb(2, 77, 143);
    padding: 5px;
   
    flex-basis: 80px
   
}
.elemento2{
    background-color: rgb(51, 109, 17);
    padding: 5px;
    align-self: end;
    flex-basis: 130px;
   
}
.elemento3{
    background-color: rgb(168, 12, 59);
    padding: 5px;
   
    flex-basis: 200px;
    
}
.elemento4{
    background-color: blueviolet;
    padding: 5px;
  
    width: 10000px
    
}